<mat-accordion *ngIf="order" cdkDropList (cdkDropListDropped)="drop($event)">
  <mat-expansion-panel *ngFor="let index of order" cdkDrag>
    <mat-expansion-panel-header>
      {{kids[index].text}}
    </mat-expansion-panel-header>
    <mat-panel-description>
      {{kids[index].owner}}
    </mat-panel-description>
    <app-list [sid]="index" [version]="kids[index].kids_version"></app-list>
  </mat-expansion-panel>
</mat-accordion>
<form (submit)="submit(); inputField.blur()">
  <mat-icon (click)="inputField.focus()">add</mat-icon>
  <mat-form-field >
    <input matInput placeholder="add new statement" [formControl]="statementForm" #inputField>
  </mat-form-field>
</form>
