<mat-accordion *ngIf="order"
               cdkDropList [cdkDropListDisabled]="aggregated || !sid" (cdkDropListDropped)="drop($event)">
  <app-item *ngFor="let index of (aggregated ? rev_order : order)" cdkDrag
            [sid]="index" [statement]="kids[index]" [events]="updateKids[index].asObservable()">
  </app-item>
</mat-accordion>
<mat-spinner *ngIf="waiting"></mat-spinner>
<form (submit)="submit(); inputField.blur()" *ngIf="!waiting">
  <mat-icon (click)="inputField.focus()">add</mat-icon>
  <mat-form-field >
    <input matInput placeholder="add new statement" [formControl]="statementForm" #inputField>
  </mat-form-field>
</form>
